/* -------- Share -------- */
@import './fonts.css';

:root {
  --font-family: 'Chakra Petch', sans-serif;
  --main-colors-blue: #0cbaf1;
  --main-colors-purple: #e95ce9;
  --greyscale-black-100: #18181b;
  --greyscale-black-80: #252532;
  --greyscale-grey-1: #b0b0b2;
  --greyscale-grey-2: #d1d1d1;
  --greyscale-white: #fff;
  --alerts-success: #00c566;
  --alerts-error: #ff4747;
  --alerts-warning: #facc15;

  --avatar-border-offset: 13px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: var(--greyscale-black-100);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.page {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;

  background: url('../img/background/bg-lines.svg') no-repeat top right,
    url('../img/background/bg-lines-footer.svg') no-repeat left bottom,
    url('../img/background/bg-grid.svg') no-repeat left top 274px,
    url('../img/background/bg-grid-footer.svg') no-repeat left bottom 617px,
    url('../img/background/bg-light-section-service.svg') no-repeat left 850px top 1800px;
}

.btn-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126px;
  min-height: 52px;
  padding: 0 5px;

  border: 2px solid #000;
  border-image: linear-gradient(to right, var(--main-colors-blue), var(--main-colors-purple));
  border-image-slice: 1;
}

.btn-transparent:hover,
.btn-transparent:active {
  animation: gradient-border 2s ease-out infinite;
  -webkit-animation: gradient-border 2s ease-out infinite;
  -moz-animation: gradient-border 2s ease-out infinite;
  background-color: var(--greyscale-black-80);
}

@keyframes gradient-border {
  50% {
    border-image: linear-gradient(to left, var(--main-colors-blue), var(--main-colors-purple));
    border-image-slice: 1;
  }
}

.btn-gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 206px;
  min-height: 50px;
  padding: 0 5px;

  background: linear-gradient(90deg, var(--main-colors-blue) 0%, var(--main-colors-purple) 100%);

  transition: 0.3s ease;
}

.btn-gradient:hover,
.btn-gradient:active {
  background: transparent;

  border: 2px solid #000;
  border-image: linear-gradient(to right, var(--main-colors-blue), var(--main-colors-purple));
  border-image-slice: 1;

  animation: gradient-border 2s ease-out infinite;
  background-color: var(--greyscale-black-80);
}

.video-frame {
  width: 192px;
  height: 128px;
  border: 0;
}

.text-gradient {
  display: inline-block;
  margin-bottom: 12px;

  background: var(--main-colors-blue);
  background: linear-gradient(to right, var(--main-colors-blue) 0%, var(--main-colors-purple) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.debug {
  border: 1px solid green;
  color: greenyellow;
}
/* -------------------------------- */

/* -------- Header --------  */
.header {
  padding: 0 120px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 114px;
  margin: 0 auto;
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo__img {
  margin-right: 4px;
}

.nav__list {
  display: flex;
  gap: 64px;
}

.nav__item:nth-of-type(4n)::after,
.nav__item:nth-of-type(5n)::after {
  content: url('../icons/expand_down_icon.svg');
  padding-left: 7px;
}

.nav__item--active {
  font-weight: 600;
}

.nav__link {
  position: relative;

  color: inherit;
}

.nav__link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 1.5rem;

  margin: 0 auto;
  height: 2px;
  width: 10%;

  background: linear-gradient(to right, var(--main-colors-blue), var(--main-colors-purple));
  opacity: 0;

  transition: 0.3s linear;
}

.nav__link:hover::after {
  width: 100%;
  opacity: 1;
}

.nav__list-dropdown {
  position: absolute;

  visibility: hidden;
  opacity: 0;

  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.nav__item:hover .nav__list-dropdown {
  visibility: visible;
  opacity: 1;
}

.nav__item-dropdown {
  padding-top: 10px;
}
/* -------------------------------- */

/* -------- Main -------- */
/* .main {
  padding: 13px 0 64px 0;
} */

/* -- Section Hero -- */
.section-hero {
  margin-bottom: 0;

  /* padding: 0 120px; */
  padding: 13px 120px 0 120px;

  background: url('../img/background/bg-light-section-hero.svg') no-repeat right 50%;
}

.section-hero__inner {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.section-hero__title-container {
  max-width: 540px;
  max-height: 316px;
}

.section-hero__text-box {
  margin-bottom: 42px;
}

.section-hero__title {
  padding-top: 74px;
  margin: 0 0 12px 0;
}

.section-hero__description {
  margin-bottom: 32px;
  color: var(--greyscale-grey-2);
}

.section-hero__img-container {
  max-width: 526px;
  height: 626px;
}

.section-hero__img {
  width: 100%;
  height: auto;
}

.section-hero__happy-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 548px;
}

.section-hero__clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-hero__client-thumb:not(:first-child) {
  margin-left: -16px;
}

.section-hero__clients-text {
  padding-left: 18px;

  background: url('../icons/happy-client-underline.svg') left 12% bottom 8% no-repeat;
}

.section-hero__thin-text {
  color: var(--greyscale-grey-2);
}

/* -- Section Benefits -- */
.section-benefits {
  padding: 0 120px;
}

.section-benefits__inner {
  display: flex;
  align-items: center;
  gap: 50px;
  max-width: 1200px;
  min-height: 357px;
  margin: 0 auto;
  padding: 42px 63px 53px 64px;

  background: var(--greyscale-black-80);
}

.section_benefits__advantage {
  width: 324px;
  height: 262px;
}

.section_benefits__img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin-bottom: 42px;
}

.section_benefits__header {
  margin-bottom: 12px;
}

.section_benefits__text {
  color: var(--greyscale-grey-1);
}

/* -- Section About us -- */
.section-about {
  padding: 120px 120px 0 82px;
}

.section-about__inner {
  position: relative;

  display: flex;
  justify-content: space-between;
  max-width: 1238px;
  height: 645px;
}

.section-about__img-container {
  align-self: flex-start;
  padding-left: 78px;

  background: url('../img/background/bg-light-section-about.svg') no-repeat,
    url('../img/background/bg-rectangle.svg') no-repeat left 55px bottom;
}

.section-about__img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.section-about__video {
  position: absolute;
  left: 386px;
  bottom: 0;
}

.section-about__text-container {
  align-self: flex-end;
  max-width: 562px;
  height: 550px;
  margin-bottom: 15px;
}

.section-about__header {
  margin-bottom: 12px;
  padding-right: 20px;
}

.section-about__description {
  display: inline-block;
  max-width: 528px;
  margin-bottom: 24px;

  color: var(--greyscale-grey-2);
}

.section-about__list {
  margin-bottom: 32px;

  color: var(--greyscale-white);
}

.section-about__item:not(:last-child) {
  margin-bottom: 14px;
}

.section-about__item::before {
  content: url('../icons/checkbox_icon.svg');
  padding-right: 12px;
  vertical-align: middle;
}

.section-about__btn {
  width: 168px;
  min-height: 50px;
}

/* -- Section Our service -- */
.section-service {
  padding: 120px 120px 0 120px;
}

.section-service__inner {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  height: 908px;
  margin: 0 auto;
}

.section-service__text-container {
  display: flex;
  justify-content: space-between;
  max-width: 1158px;
  height: 115px;
  padding-right: 42px;
  margin-bottom: 46px;
}

.section-service__description {
  display: inline-block;
  max-width: 625px;

  color: var(--greyscale-grey-2);
}

.section-service__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.section-service__list::before,
.section-service__list::after {
  content: '';
  flex-basis: 100%;
  width: 0;
  order: 2;
}

.section-service__item {
  max-width: 379px;
  height: 291px;

  padding: 38px 0 0 32px;
  background: rgba(37, 37, 50, 0.6);
}

.section-service__item:nth-child(3n + 1) {
  order: 1;
  margin-right: 36px;
}

.section-service__item:nth-child(3n + 2) {
  order: 2;
  margin-top: 57px;
  margin-right: 26px;
}

.section-service__item:nth-child(3n) {
  order: 3;
  margin-top: 135px;
}

.section-service__item:nth-child(4n) {
  margin-top: 32px;
}

.section-service__item:nth-child(5n) {
  margin-top: 30px;
}

.section-service__item:nth-child(6n) {
  margin-top: 30px;
}

.section-service__card-img {
  margin-bottom: 58px;
}

.section-service__card-caption {
  margin-bottom: 12px;
}

.section-service__card-description {
  max-width: 291px;
  color: var(--greyscale-grey-1);
}

/* -- Section Why choose us  -- */
.section-choose-us {
  padding: 150px 19px 0 120px;
}

.section-choose-us__inner {
  position: relative;

  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  height: 700px;
}

.section-choose-us__text-container {
  padding-top: 94px;
  max-width: 548px;
  height: 515px;
}

.section-choose-us__header {
  margin-bottom: 32px;
}

.section-choose-us__item {
  position: relative;

  margin-bottom: 48px;
  width: 100%;
}

.section-choose-us__item-caption {
  padding-bottom: 12px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}

.section-choose-us__item-caption:hover {
  cursor: pointer;
}

.section-choose-us__item-caption::after {
  position: absolute;
  right: 0;
  top: -3px;
}

.icon-arrow-down::after {
  content: url('../icons/expand_down_icon.svg');
}

.icon-arrow-up::after {
  content: url('../icons/expand_up_icon.svg');
}

.section-choose-us__item-description {
  padding-top: 12px;

  color: var(--greyscale-grey-2);
}

.accordion-hide {
  display: none;
}

.section-choose-us__img-container {
  align-self: flex-start;

  background: url('../img/background/bg-light-section-choose.svg') no-repeat right / cover,
    url('../img/background/bg-rectangle.svg') no-repeat right 104px bottom 0 / 398px 496px;
}

.section-choose-us__img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.section-choose-us__video {
  position: absolute;
  right: 102px;
  bottom: 0;
}

/* -- Section How to get started  -- */
.section-start {
  padding: 150px 120px 0 120px;
}

.section-start__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  max-width: 1200px;
  height: 818px;
  margin: 0 auto;
}

.section-start__text-box {
  max-width: 879px;
  height: 149px;
  text-align: center;
}

.section-start__video {
  width: 100%;
  height: 522px;
}

.section-start__btn {
  width: 182px;
  min-height: 50px;
}

/* -- Section Testimonial  -- */
.section-testimonial {
  padding: 100px 96px 0 96px;
}

.section-testimonial__inner {
  position: relative;

  min-width: 1247px;
  min-height: 1247px;
  margin: 0 auto;

  background: url('../img/background/bg-light-section-testimonial.svg') no-repeat center / contain,
    url('../img/background/bg-ellipse-solid.svg') no-repeat center;
}

.section-testimonial__text-box {
  position: absolute;
  left: 50%;

  width: 628px;
  margin-top: 111px;
  height: 91px;

  text-align: center;

  transform: translateX(-50%);
}

.section-testimonial__img1 {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.section-testimonial__img2 {
  position: absolute;
  left: 50.4%;
  top: 42.9%;

  transform: translate(-50%, -50%);
}

.list-circle__item {
  position: absolute;
  top: 50%;
  left: 50%;

  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 100%;

  transform: translate(-50%, -50%);
}

.section-testimonial__avatar-box {
  position: absolute;

  width: 75px;
  height: 75px;
  left: calc(32px - var(--avatar-border-offset));
  top: calc(330px - var(--avatar-border-offset));

  background: url('../img/background/bg-avatar.svg') no-repeat center / cover;

  transition: background-image 0.3s ease;
}

.section-testimonial__avatar-box:hover {
  background: url('../img/background/bg-light-section-testimonial-avatar.svg') no-repeat center / cover,
    url('../img/background/bg-avatar-gradient.svg') no-repeat center;
}

.section-testimonial__avatar-box:nth-of-type(2) {
  left: calc(570px - var(--avatar-border-offset));
  top: calc(872px - var(--avatar-border-offset));
}

.section-testimonial__avatar-box:nth-of-type(3) {
  left: calc(178px - var(--avatar-border-offset));
  top: calc(929px - var(--avatar-border-offset));
}

.section-testimonial__avatar-box:nth-of-type(4) {
  left: calc(762px - var(--avatar-border-offset));
  top: calc(270px - var(--avatar-border-offset));
}

.section-testimonial__avatar-box:nth-of-type(5) {
  left: calc(1046px - var(--avatar-border-offset));
  top: calc(602px - var(--avatar-border-offset));
}

.section-testimonial__avatar-box:nth-of-type(6) {
  left: calc(950px - var(--avatar-border-offset));
  top: calc(1110px - var(--avatar-border-offset));
}

.section-testimonial__avatar {
  transform: translate(25%, 25%);
}

/* -- Section Our pricing  -- */
.section-pricing {
  padding: 100px 67px 0 120px;
}

.section-pricing__inner {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 48px;
  max-width: 1254px;
  height: 838px;
}

.section-pricing__header-container {
  max-width: 811px;
  height: 163px;
}

.section-pricing__header {
  margin-bottom: 16px;
}

.section-pricing__header-description {
  width: 625px;
  color: var(--greyscale-grey-2);
}

.section-pricing__description-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  height: 587px;

  background: rgba(37, 37, 50, 0.81);
}

.section-pricing__list {
  width: 758px;
  padding: 55px 0 0 42px;

  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.section-pricing__item {
  max-width: 640px;
  padding-left: 58px;

  background: url('../icons/cloud_icon.svg') no-repeat;
}

.section-pricing__item:not(:last-child) {
  margin-bottom: 32px;
}

.section-pricing__item-caption {
  margin-bottom: 12px;
}

.section-pricing__item-description {
  color: var(--greyscale-grey-1);
}

.section-pricing__img {
  margin-top: 67px;
}

.section-pricing__light-effect {
  position: absolute;
  left: 22%;
  top: 15%;
  z-index: -1;
}

.section-pricing__price-box {
  position: absolute;
  left: 707px;
  bottom: 0;
}

.price-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 18px 20px;
  width: 321px;
  height: 222px;

  background: var(--greyscale-black-80);
  border: 2px solid #000;
  border-image: linear-gradient(to right, var(--main-colors-blue), var(--main-colors-purple));
  border-image-slice: 1;
}

.price-box__caption {
  color: var(--greyscale-grey-2);
}

.price-box__price {
  margin-bottom: 14px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 60px;
  line-height: 110%;
  color: var(--greyscale-white);
}

.price-box__btn {
  width: 182px;
  min-height: 50px;
  margin-bottom: 14px;
}

.price-box__description {
  color: var(--greyscale-grey-1);
}

/* -- Section Our trusted partners -- */
.section-partners {
  padding: 150px 192px 0 192px;
}

.section-partners__inner {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 1054px;
  min-height: 890px;
  margin: 0 auto;

  background: url('../img/background/bg-light-section-partners.svg') no-repeat center bottom,
    url('../img/background/bg-ellipse-partners.svg') no-repeat center bottom 0;
}

.section-partners__header-container {
  margin: 0 auto;
  text-align: center;
}

.list-half-circle__item {
  position: absolute;
  left: 50%;
  bottom: 0;

  border-top: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 100%;

  /* 226.5 - радиус bg-ellipse-partners.svg*/
  transform: translate(-50%, calc(50% - 226.5px));
  -webkit-clip-path: circle(50% at 50% calc(50% - 45px));
  clip-path: circle(50% at 50% calc(50% - 45px));
}

/* TODO: градиентная граница-полукруг, некорректно работает в Firefox
  Сделать кроссбраузерность или найти другой способ добавления градиентной рамки
*/
/* 
.list-half-circle__item:nth-of-type(2) {
  border-radius: 100%;
  border-top: 1px solid transparent;
  background: linear-gradient(to right, var(--main-colors-blue), var(--main-colors-purple)) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  -moz-mask-composite: xor;
  mask-composite: exclude;
} */

.section-partners__logo-box {
  position: absolute;
  left: 15px;
  top: 580px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 102px;

  background: url('../img/background/bg-partners-logo.svg');
}

.section-partners__logo-box:nth-of-type(2) {
  left: 84px;
  top: 388px;
}

.section-partners__logo-box:nth-of-type(3) {
  left: 241px;
  top: 230px;
}

.section-partners__logo-box:nth-of-type(4) {
  left: 476px;
  top: 160px;
}

.section-partners__logo-box:nth-of-type(5) {
  left: 711px;
  top: 230px;
}

.section-partners__logo-box:nth-of-type(6) {
  left: 881px;
  top: 388px;
}

.section-partners__logo-box:nth-of-type(7) {
  left: 938px;
  top: 588px;
}

.section-partners__logo-box:hover {
  background: url('../img/background/bg-light-section-testimonial-avatar.svg') no-repeat center,
    url('../img/background/bg-partners-logo.svg');
}

.section-partners__img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  width: 707px;
  height: 554px;
}

/* -- Section Our articles  -- */
.section-articles {
  padding: 150px 0 0 14px;

  background: url('../img/background/bg-light-section-articles.svg') no-repeat;
}

.section-articles__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 120px;
  max-width: 1426px;
  height: 768px;
}

.section-articles__header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 120px;
  margin-bottom: 42px;
  max-width: 1200px;
  height: 91px;
}

.section-articles__btn {
  width: 140px;
  height: 50px;
}

.section-articles__slider-container {
  max-width: 1320px;
  height: 605px;
}

.slider {
  position: relative;
}

.slider__popular {
  position: absolute;
  left: 0;
  top: 32px;
  z-index: 20;

  display: flex;
  flex-direction: column;

  width: 636px;
  height: 493px;
}

.slider__header {
  margin-bottom: 32px;
}

.slider__popular-description {
  position: absolute;
  left: 24px;
  bottom: 24px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.slider__recent {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  padding: 32px 72px 0 97px;
  min-width: 730px;
  height: 605px;
  overflow: hidden;

  background: var(--greyscale-black-80);
}

.slider__scroll-box {
  width: 561px;
  height: 472px;
  overflow-y: scroll;
}

.slider__scroll-box::-webkit-scrollbar {
  width: 2px;
}

.slider__scroll-box::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.15);
}

.slider__scroll-box::-webkit-scrollbar-thumb {
  height: 31px;

  border-radius: 32px;
  background: var(--greyscale-white);
}

.slider__list {
  width: 513px;
}

.slider__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 155px;
  padding: 32px 0 32px 0;

  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.slider__item:first-of-type {
  padding-top: 0;
  height: 123px;
}

.slider__item:last-of-type {
  border-bottom: none;
}

.slider__item-img {
  width: 142px;
  height: 91px;
}

.slider__item-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 297px;
  height: 78px;
}

.slider__hashtag {
  width: fit-content;
  padding: 2px 10px;
  height: 24px;

  text-align: center;

  border-radius: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.slider__hashtag:hover,
.slider__hashtag:active {
  background: rgba(200, 200, 200, 0.2);
}

.slider__item-btn {
  width: 40px;
  min-height: 40px;

  background: url('../icons/arrow_right_icon.svg') no-repeat center;
}

/* -- Section Subscribe  -- */
.section-subscribe {
  padding: 150px 120px 64px 120px;
}

.section-subscribe__inner {
  max-width: 1200px;
  height: 185px;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0 74px 0 74px;

  background: linear-gradient(90deg, var(--main-colors-blue) 0%, var(--main-colors-purple) 100%);
}

.subscribe__header {
  max-width: 520px;

  user-select: none;
}

.subscribe__form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 365px;
  height: 56px;

  border-radius: 2px;
  background: rgba(255, 255, 255, 0.07);
}

.subscribe__form:focus-within {
  outline: 1px solid var(--main-colors-blue);
}

.subscribe__form:hover {
  outline: 1px solid var(--main-colors-blue);
}

.subscribe__input {
  padding-left: 46px;
  width: calc(100% - 49px);
  height: 100%;

  text-overflow: ellipsis;

  border: none;
  background: url('../icons/mail_icon.svg') no-repeat left 14px center;
}

.subscribe__input::placeholder {
  color: var(--greyscale-white);

  opacity: 1;
  transition: opacity 0.3s ease;
}

.subscribe__input:focus {
  outline: none;
}

.subscribe__input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.subscribe__btn {
  width: 49px;
  height: 49px;
  padding: 3px;
  margin: 3px;
  margin-left: 0;

  cursor: pointer;
  border: none;
  background: url('../icons/send_bg_icon.svg') no-repeat center, url('../icons/send_icon.svg') no-repeat center;
}

.subscribe__btn:hover {
  background-color: #ea43ea;
}

.subscribe__btn:active {
  background-color: #d034d0;
}
/* -------------------------------- */

/* -------- Footer -------- */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1440px;
  height: 508px;
}

.footer__menu {
  display: flex;
  justify-content: space-between;

  margin: 116px 118px 33px 122px;
  width: 1200px;
  height: 250px;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 244px;
  height: 213px;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__link {
  display: flex;
  align-items: center;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  width: 771px;
  height: 248px;
}

.footer__quicklinks {
  width: fit-content;
  height: 248px;
}

.footer__support {
  width: fit-content;
  height: 248px;
}

.footer__help {
  width: fit-content;
  height: 160px;
}

.footer__list li:not(:last-child) {
  margin: 16px 0 16px 0;
}

.footer__address {
  font-style: normal;
}

.footer__address::before {
  content: url('../icons/address_nav_icon.svg');
  margin: 0 8px 0 4px;
}

.footer__mailto {
  color: inherit;
}

.footer__mailto::before {
  content: url('../icons/mail_nav_icon.svg');
  margin-right: 8px;
}

.footer__tel {
  color: inherit;
}

.footer__tel::before {
  content: url('../icons/phone_nav_icon.svg');
  margin-right: 8px;
}

.footer__copyright {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 118px 47px 122px;
  width: 1200px;
  height: 60px;

  border-top: 1px solid #eee;
  border-image: linear-gradient(to right, var(--main-colors-blue), var(--main-colors-purple));
  border-image-slice: 1;
}
/* -------------------------------- */

/* -- Section title -- */
.section-title {
  height: 296px;
  padding: 0 120px;
}

.section-title__inner {
  margin: 0 auto;
  width: 1200px;
}
/* -------------------------------- */

/* -- Section about detailed -- */
.section-about-detailed {
  padding: 150px 0 0 120px;
}

.section-about-detailed__inner {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 1320px;
  height: 606px;
  margin: 0 auto;
}

.section-about-detailed__text-container {
  max-width: 708px;
  height: 475px;
  padding-top: 40px;
}

.section-about-detailed__header {
  margin-bottom: 18px;
}

.section-about-detailed__description {
  max-width: 625px;

  color: var(--greyscale-grey-2);
}

.section-about-detailed__img-container {
  align-self: flex-start;
  padding-right: 168px;

  background: url('../img/background/bg-light-section-about.svg') no-repeat,
    url('../img/background/bg-rectangle.svg') no-repeat left 17px top 76px;
}

.section-about-detailed__img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.section-about-detailed__video {
  position: absolute;
  bottom: 0;

  right: 450px;
}
/* -------------------------------- */

/* -- Section benefits detailed -- */
.section-benefits-detailed {
  padding: 150px 120px 0 120px;
}

.section-benefits-detailed__inner {
  max-width: 1200px;
  height: 560px;
  margin: 0 auto;
}

.section-benefits-detailed__header-box {
  margin: 0 auto 54px auto;
  width: 700px;
  height: 148px;

  text-align: center;
}
/* -------------------------------- */

/* -- Section choose detailed -- */
.section-choose-detailed {
  padding: 150px 162px 0 110px;
}

.section-choose-detailed__inner {
  position: relative;

  display: flex;
  gap: 80px;
  max-width: 1168px;
  height: 626px;
  margin: 0 auto;
}

.section-choose-detailed__container {
  padding-top: 67px;
}

.section-choose-detailed__img-container {
  align-self: flex-start;
  margin-left: 40px;
  max-width: 500px;
  height: 574px;

  background: url('../img/background/bg-light-section-choose.svg') no-repeat center / cover,
    url('../img/background/bg-rectangle.svg') no-repeat left 15px bottom;
}

.section-choose-detailed__video {
  position: absolute;
  left: 327px;
  bottom: 0;
}

/* -------------------------------- */

/* -- Section team preview -- */
.section-team-preview {
  padding: 150px 120px 0 120px;
}

.section-team-preview__inner {
  max-width: 1200px;
  height: 520px;
  margin: 0 auto;
}
/* -------------------------------- */

/* -- Section faq -- */
.section-faq {
  padding: 150px 325px 0 325px;
}

.section-faq__inner {
  max-width: 790px;
  height: 800px;
  margin: 0 auto;
}
/* -------------------------------- */
