:root {
  --main-colors-purple: #ca6aeb;
  --main-colors-blue: #19b5f1;
  --greyscale-black-100: #18181b;
  --greyscale-black-80: #252532;
  --greyscale-grey-1: #b0b0b2;
  --greyscale-grey-2: #d1d1d1;
  --greyscale-white: #fff;
  --alerts-success: #00c566;
  --alerts-error: #ff4747;
  --alerts-warning: #facc15;

  --font-family: 'Chakra Petch', sans-serif;

  /*
  Chakra Petch Light 551
  Chakra Petch SemiBold 309
  Chakra Petch Regular 289
  Chakra Petch Medium 211
  Chakra Petch Bold 52
  */
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);

  background-color: var(--greyscale-black-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.debug {
  border: 1px solid green;
}

.page {
  margin: 0 auto;
  max-width: 1440px;
  height: 100%;
  padding: 0 120px;
  /* padding: 0 8.33%; */

  color: var(--greyscale-white);
}

.btn-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126px;
  min-height: 52px;
  padding: 0 5px;

  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  color: var(--greyscale-white);

  border: 2px solid #000;
  border-image: linear-gradient(to right, #0cbaf1, #e95ce9);
  border-image-slice: 1;
}

.btn-transparent:hover,
.btn-transparent:active {
  animation: gradient-border 2s ease-out infinite;
  background-color: var(--greyscale-black-80);
}

@keyframes gradient-border {
  50% {
    border-image: linear-gradient(to left, #0cbaf1, #e95ce9);
    border-image-slice: 1;
    color: var(--greyscale-grey-1);
  }
}

/* -------- Header --------  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 114px;

  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  color: var(--greyscale-white);
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo__img {
  margin-right: 4px;
}

.nav__list {
  display: flex;
  gap: 64px;
  /* max-width: 475; */
}

.nav__item {
  font-weight: 300;
}

.nav__item--active {
  font-weight: 500;
}

/* -------------------------------- */

/* -------- Main -------- */
/* -------------------------------- */

/* -------- Footer -------- */
/* -------------------------------- */
