/* -------- Share -------- */
:root {
  --main-colors-purple: #ca6aeb;
  --main-colors-blue: #19b5f1;
  --greyscale-black-100: #18181b;
  --greyscale-black-80: #252532;
  --greyscale-grey-1: #b0b0b2;
  --greyscale-grey-2: #d1d1d1;
  --greyscale-white: #fff;
  --alerts-success: #00c566;
  --alerts-error: #ff4747;
  --alerts-warning: #facc15;

  --font-family: 'Chakra Petch', sans-serif;

  /*
  Chakra Petch Light 551
  Chakra Petch SemiBold 309
  Chakra Petch Regular 289
  Chakra Petch Medium 211
  Chakra Petch Bold 52
  */
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: var(--font-family); */
  background-color: var(--greyscale-black-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  margin: 0 auto;
  max-width: 1440px;
  height: 100%;
  padding: 0 120px;
  /* padding: 0 8.33%; */

  background: url('../img/background/bg-lines.svg') top right no-repeat,
    url('../img/background/bg-grid.svg') 0 284px no-repeat;
}

.btn-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126px;
  min-height: 52px;
  padding: 0 5px;

  border: 2px solid #000;
  border-image: linear-gradient(to right, #0cbaf1, #e95ce9);
  border-image-slice: 1;
}

.btn-transparent:hover,
.btn-transparent:active {
  animation: gradient-border 2s ease-out infinite;
  background-color: var(--greyscale-black-80);
}

@keyframes gradient-border {
  50% {
    border-image: linear-gradient(to left, #0cbaf1, #e95ce9);
    border-image-slice: 1;
    color: var(--greyscale-grey-1);
  }
}

.btn-gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 206px;
  min-height: 50px;
  padding: 0 5px;

  background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
}

.video-frame {
  width: 192px;
  height: 128px;
}

.debug {
  font-family: none;
  color: greenyellow;
  border: 1px solid green;
}
/* -------------------------------- */

/* -------- Heading text style -------- */
.heading-text-style01 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 64px;
  letter-spacing: -0.01em;
  color: var(--greyscale-white);
}

.heading-text-style02 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 121%;
  letter-spacing: -0.01em;
  color: var(--greyscale-white);
}

.heading-text-style03 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  line-height: 145%;
  letter-spacing: -0.01em;
  color: var(--greyscale-white);
}

.heading-text-style04 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 36px;
  line-height: 122%;
  letter-spacing: -0.02em;
  color: var(--greyscale-white);
}

.heading-text-style05 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  letter-spacing: -0.01em;
  color: var(--greyscale-white);
}

.heading-text-style06 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.01em;
  color: var(--greyscale-white);
}

.heading-text-style07 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--greyscale-white);
}

.heading-text-style08 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: var(--greyscale-white);
}

.heading-text-style09 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--greyscale-white);
}

.heading-text-style10 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  color: var(--greyscale-white);
}

.heading-text-style11 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--greyscale-white);
}

.heading-text-style12 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--greyscale-white);
}
/* -------------------------------- */

/* -------- Body text style -------- */
.body-text-style01 {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  color: var(--greyscale-white);
}

.body-text-style02 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  color: var(--greyscale-white);
}

.body-text-style03 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: var(--greyscale-white);
}

.body-text-style04 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  color: var(--greyscale-white);
}

/* -------------------------------- */

/* -------- Caption text style -------- */
.caption-text-style01 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: var(--greyscale-white);
}

.caption-text-style02 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: var(--greyscale-white);
}

.caption-text-style03 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  color: var(--greyscale-white);
}
/* -------------------------------- */

/* -------- Button text style -------- */
.btn-text-style01 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: var(--greyscale-white);
}

.btn-text-style02 {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  color: var(--greyscale-white);
}

/* -------------------------------- */

/* -------- Header --------  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 114px;
  margin-bottom: 13px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo__img {
  margin-right: 4px;
}

.nav__list {
  display: flex;
  gap: 64px;
  /* max-width: 475; */
}

.nav__item--active {
  font-weight: 600;
}

.nav__link {
  color: inherit;
  position: relative;
}

.nav__link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 1.5rem;
  margin: 0 auto;
  height: 2px;
  width: 10%;

  background: linear-gradient(to right, #0cbaf1, #e95ce9);
  opacity: 0;

  transition: 0.3s linear;
}

.nav__link:hover::after {
  width: 100%;
  opacity: 1;
}

/* -------------------------------- */

/* -------- Main -------- */

.main {
  margin-bottom: 64px;
}

/* -- Section Hero -- */
.section-hero {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  margin-bottom: 0;
}

.section-hero__title-container {
  max-width: 540px;
  max-height: 316px;
}

.section-hero__text-box {
  margin-bottom: 42px;
}

.section-hero__title {
  padding-top: 74px;
}

.section-hero__description {
  margin-bottom: 32px;
  color: var(--greyscale-grey-2);
}

.section-hero__img-container {
  max-width: 526px;
  height: 626px;
}

.section-hero__img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.section-hero__happy-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 548px;
}

.section-hero__clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-hero__thumbnails {
  margin-right: 18px;
}

.section-hero__thin-text {
  /* font-size: 300; */
  color: var(--greyscale-grey-2);
}

/* -- Section Benefits -- */
.section-benefits {
  margin-bottom: 120px;
}

/* -- Section About us -- */
.section-about {
  margin-bottom: 150px;
}

/* -- Section Our service -- */
.section-service {
  margin-bottom: 150px;
}

/* -- Section Why choose us  -- */
.section-choose-us {
  margin-bottom: 150px;
}

/* -- Section How to get started  -- */
.section-start {
  margin-bottom: 100px;
}

/* -- Section Testimonial  -- */
.section-testimonial {
  margin-bottom: 100px;
}

/* -- Section Our pricing  -- */
.section-pricing {
  margin-bottom: 150px;
}

/* -- Section Our articles  -- */
.section-articles {
  margin-bottom: 150px;
}

/* -- Section Subscribe  -- */
.section-subscribe {
  margin-bottom: 0px;
}

/* -------------------------------- */

/* -------- Footer -------- */
/* -------------------------------- */
